@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);

  /*fonts*/
  --main-font: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: var(--main-font);
  background-color: var(--off-white);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 720px;
  display: grid;
  grid-template-rows: 70px, auto, 30px;
  padding: 20px;
  background-color: var(--off-white);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.logo {
  max-width: 50%;
}

picture img {
  width: 100%;
  margin-top: 30px;
}

.nav-menu ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 2rem;
  color: var(--very-dark-blue);
}

.nav-menu ul li a:active,
.nav-menu ul li a:hover {
  color: var(--soft-red);
  transition: all 0.3s ease;
}

.topic,
.topic .info,
.info {
  margin: 20px 0;
}

.topic .header {
  font-weight: 800;
  font-size: 4.5rem;
  line-height: 1.1;
  color: var(--very-dark-blue);
}

.topic .info .btn {
  text-transform: uppercase;
  padding: 20px;
  margin: 20px 0;
  width: 60%;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  border: none;
  background-color: var(--soft-red);
  color: var(--off-white);
  cursor: pointer;
}

.topic .btn:hover,
.topic .btn:active {
  background-color: var(--very-dark-blue);
  transition: background-color 0.3s ease;
}

.info {
  color: var(--dark-grayish-blue);
  line-height: 1.6;
  font-weight: 400;
}

.new-section {
  height: auto;
  background-color: var(--very-dark-blue);
  padding: 18px;
  margin: 60px 0;
}

.new-section .header {
  color: var(--soft-orange);
  font-weight: 700;
  font-size: 3.6rem;
}

.new-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px;
}

.new-section .new-container .new-header {
  color: var(--off-white);
  font-size: 2rem;
}

.new-section .new-container .new-header:hover,
.new-section .new-container .new-header:active {
  cursor: pointer;
  color: var(--soft-orange);
  transition: all 0.3s ease-in-out;
}

.new-section .new-container .info {
  color: var(--grayish-blue);
}

.new-section hr {
  margin: 30px 0;
  border: none;
  background-color: var(--grayish-blue);
  height: 1px;
  width: 100%;
}

.explore-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.explore-item {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.img img {
  height: 130px;
  width: 100px;
}

.item-info .number {
  font-size: 3.2rem;
  color: var(--grayish-blue);
}

.item-info .title {
  font-size: 1.5rem;
  margin: 12px 0;
  color: var(--very-dark-blue);
  font-weight: 700;
}

.item-info .title:hover,
.item-info .title:active {
  color: var(--soft-red);
  transition: all 0.3s ease;
  cursor: pointer;
}

.item-info .content {
  max-width: 100%;
  font-size: 1.4rem;
  color: var(--dark-grayish-blue);
  line-height: 1.6;
  padding-right: 5px;
}

footer {
  padding-top: 50px;
}

@media screen and (max-width: 720px) {
  body.menu-open {
    overflow: hidden;
  }

  .background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: none;
  }

  .menu-open .background-layer {
    display: block;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    background-color: var(--off-white);
    z-index: 2;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .menu-icon-close {
    display: none;
    z-index: 1000;
    margin-right: 10px;
    cursor: pointer;
  }

  .menu-icon img {
    cursor: pointer;
  }

  .nav-menu.active {
    transform: translateX(0);
  }

  .nav-menu ul {
    list-style: none;
    margin: 50px 20px;
    top: 50%;
    left: 50%;
    transform: translate(0, 30%);
    padding: 20px;
  }

  .nav-menu ul li {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 721px) {
  .menu-icon,
  .menu-icon-close {
    display: none;
  }

  .nav-menu ul {
    list-style: none;
    display: flex;
    gap: 25px;
  }

  .nav-menu ul li {
    font-size: 2rem;
  }

  body {
    width: 100%;
    height: 100%;
  }

  .wrapper {
    width: 100vw;
    height: 100vh;
    max-width: 85%;
    max-height: 100vh;
    padding: 20px 0;
  }

  header {
    margin-bottom: 2rem;
  }

  .main > picture img {
    margin: 0;
  }

  picture img {
    margin: 0;
    padding: 0;
  }

  .main {
    display: grid;
    grid-template-columns: auto auto 350px;
    grid-template-rows: repeat(3, auto);
    gap: 3rem;
  }

  .main picture {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .main .topic {
    grid-column: 1 / 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto;
  }

  .main .topic .header {
    grid-row: 1;
    grid-column: 1;
    font-size: 5.8rem;
    width: 100%;
    height: 100%;
    max-width: 80%;
  }

  .main .topic .info {
    grid-row: 1;
    grid-column: 2;
  }

  .topic .info p {
    padding-left: 0;
  }

  .main .topic .info .btn {
    grid-row: 1;
    grid-column: 2;
    width: 60%;
    margin-top: 20px;
    padding: 20px;
    font-size: 1.5rem;
  }

  .main .new-section {
    grid-column: 3;
    grid-row: 1 / 3;
    margin: 0;
    height: 90%;
  }

  .explore-section {
    grid-column: 1 / 4;
    grid-row: 3;
    display: grid;
    grid-template-columns: auto 375px 350px;
    justify-content: center;
    align-items: center;
  }

  .explore-item .item-info .content {
    width: 100%;
    max-width: 90%;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1441px) {
  .wrapper {
    max-width: 1440px;
  }

  .explore-section {
    grid-column: 1 / 4;
    grid-row: 3;
    display: grid;
    grid-template-columns: auto 375px 350px;
    justify-content: space-between;
  }
}
